*auto
*.aux
*.bbl
*.blg
*.log
*.out
*.fls
*.fdb_latexmk
*.synctex.gz
*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.DS_Store
.vscode/**
manuscript/main.pdf
manuscript/supplement.pdf
manuscript/cox_exercise.pdf
code/debug.R
code/debug2.R
code/gro_r.R
Code/esft_rcode.R